@import '../../../theme.module.scss';

.navigation{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.item {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    font-family: $main_font;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: $h2;
    line-height: 28px;
    margin: 3px;
    color: $white;
}