@import '../../theme.module.scss';
.title{
  font-family: $main_font;
  font-style: normal;
  font-weight: bold;
  font-size: $title;
  line-height: 28px;
  color: $title_color;
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin-top: 50px;
}

.orderListWrapper{
  text-align: center;
  padding-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.visible{
  display: flex;
}

.invisible{
  display: none;
}

.containerFluid{
  padding-left: 0!important;
  padding-right: 0!important;
}

.title_list{
  margin-top: 50px;
  display: flex;
  font-family: $header_font;
  font-style: normal;
  font-weight: 700;
  font-size: $order_list_header_size;
  line-height: 50px;
  background-image: $liner_gradient_bg;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: 768px) {
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}
