@import "../../../../theme.module";

.mobileMenu{
  width: 150px;
  height: 150px;
  border-radius: 40px 00px 0px 40px;
  background-color: $white;
  position: absolute;
  padding: 10px;
  right: 0%;
  top: 5%;
  z-index: 3;
}

.mobileMenu .bars{
  position: absolute;
  right: 10%;
  top: 10%;
  width: 25px;
}

.mobileMenu a{
  font-family: $landing_font;
  font-style: normal;
  font-weight: 500;
  font-size: $landing_h3_mobile;
  margin-top: 30px;
  margin-left: 20px;
  color: $landing_blue_color;
  text-decoration: none;
  display: block;
  outline: none;
}