@import '../../theme.module.scss';

.navigation{
    background: linear-gradient(94.46deg, $liner_gradient_violet 0%, $liner_gradient_blue 107.33%);
    width: 100%;
    height: 60px;
}

.wrapper{
    height: 47px;
    width: 90%;
    margin: 0 auto;
    padding: 5px 0 5px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo{
    width: 110px;
    height: auto;
}

.logo:hover{
    cursor:pointer;
}

.version{
    position: absolute;
    top:2.5%;
    left: 15%;
    font-family: $header_font;
    font-style: normal;
    font-weight: lighter;
    font-size: $h3;
    color: $white;
}