@import "../../../theme.module";

.wrapper{
  position: relative;
  padding-top: 50px;
  width: 90%;
  margin: 0 auto;

  @media (max-width: 992px) {
    padding-top: 10px;
  }
  @media (max-width: 768px) {
    padding-top: 20px;
  }
}

.title{
  text-align: center;
  font-family: $landing_font;
  font-style: normal;
  font-weight: 500;
  font-size: $landing_h2;
  color: $landing_title_color;

  @media (max-width: 992px) {
    font-size: $landing_h2_tablet;
  }
  @media (max-width: 768px) {
    font-size: $landing_h2_small_tablet;
  }
  @media (max-width: 576px) {
    font-size: $landing_h2_mobile;
    width: 80%;
    margin: 0 auto 20px;
  }
}

.imgWrapper{
  width: 60%;

  @media (max-width: 576px) {
    width: 90%;
  }
}

.img{
  width: 100%;
}

.aboutUsContent{
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 576px) {
    display: block;
  }
}

.textWrapper{
  margin-left: 100px;

  @media (max-width: 768px) {
    margin-left: 0px;
  }
}


.text{
  font-family: $landing_font;
  font-style: normal;
  font-weight: normal;
  font-size: $landing_text;
  padding: 0;
  line-height: 40px;
  margin: 0 0 30px;
  width: 90%;
  color: $landing_text_color;

  @media (max-width: 992px) {
    font-size: $landing_text_tablet;
  }
  @media (max-width: 768px) {
    margin: 0 0 15px;
    line-height: 25px;
    font-size: $landing_text_small_tablet;
    width: 80%;
  }
  @media (max-width: 576px) {
    margin-left: 25px;
    font-size: $landing_text_mobile;
    line-height: 15px;
  }
}

.subtitle{
  margin: 30px auto 0;
  text-align: center;
  font-family: $landing_font;
  font-style: normal;
  font-weight: 500;
  font-size: $landing_h3;
  color: $landing_title_color;
  width: 60%;

  @media (max-width: 992px) {
    font-size: $landing_h3_tablet;
  }
  @media (max-width: 768px) {
    font-size: $landing_h3_small_tablet;
    width: 70%;
  }
  @media (max-width: 576px) {
    font-size: $landing_h3_mobile;
    margin: 40px auto 0px;
    width: 80%;
    font-weight: 500;
    line-height: 20px;
  }
}