@import '../../../theme.module';

.rightNavigation{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.rightNavigationMobile{
  display: flex;
  justify-self: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 5px;
}

.item{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: flex-end;
  font-family: $main_font;
  text-decoration: none;
  font-style: normal;
  font-weight: lighter;
  font-size: $h2;
  margin-left: 30px;
  color: $white;
}

.itemMobile {
  display: flex;
  justify-content: flex-start;
}

.ringIcon{
  width: 25px;
  height: auto;

  @media (max-width: 1023px) {
    width: 20px;
  }
}

.profileWrapper{
  width: 45px;
  height: 45px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileIcon{
  width: 27px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1023px) {
    width: 22px;
  }
}

.logOut{
  text-decoration: none;
  font-size: $h3;
  line-height: 28px;
  color: $white;
}
.logOut:hover{
  text-decoration: none;
  color: $link_color;
}

.iconsMobile{
  display: grid;
  grid-template-columns: 35px 35px;
  align-items: center;
}

.iconsBase{
  display: flex;
  align-items: center;
}