@import '../../../theme.module';

.rightNavigation{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

.item{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  font-family: $main_font;
  text-decoration: none;
  font-style: normal;
  font-weight: lighter;
  font-size: $h2;
  margin-left: 30px;
  color: $white;
}

.ringIcon{
  width: 25px;
  height: auto;
}

.profileWrapper{
  width: 45px;
  height: 45px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileIcon{
  width: 27px;
  height: auto;
}

.logOut{
  text-decoration: none;
  font-size: $h3;
  line-height: 28px;
  color: $white;
}