@import '../../../theme.module';

.cardWrapper {
  min-width: 120px;
  width: 13%;
  height: auto;
  box-shadow: 0 3px 3px $very_dark_gray;
  border-radius: 10px;
  text-align: center;
  padding: 1%;
}

.cardContainer {
  display: flex;
  min-height: 80px;
  z-index: 1;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.workTypesCategories {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: $work_types_title_font_size;
  height: $work_types_title_font_size*2;
  padding: 0 10%;
  color: $dark_violet_title;
}

.workTypesPrice {
  align-content: center;
  justify-content: center;
  font-family: $main_font;
  font-style: normal;
  text-decoration: underline;
  font-weight: normal;
  padding: 2%;
  line-height: $line_height_price;
  font-size: $price_font_size;
  color: $violet;
}

.buttonsBlock {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.button {
  padding: 5px;
  background-color: $light_grey;
  height: 500%;
  border: none;
  border-radius: 4px;
  font-family: $main_font;
  margin: 0 0 5% 5%;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  color: $white;
}
