@import '../../theme.module';

.modal__content_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal__content_input {
  width: 300px;
  height: 50px;
  margin: 20px;
  padding: 15px;

  background: $light_blue_gray_bg;
  border: none;
  box-sizing: border-box;
  border-radius: 30px;

  overflow: hidden;
  outline: none;

  @media (max-width: 376px){
    width: 78%;
    height: 20%;
    margin: 15px;
  }

  @media (max-width: 578px) {
    width: 88%;
    height: 60%;
  }
}

.modal__content_input::placeholder{
  background-image: $liner_gradient_bg;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal__content_form:focus {
  box-shadow: 0 0 10px 5px $modal_box_shadow_light_gray;
}

.modal__content_button {
  width: 160px;
  height: 43px;
  border-radius: 30px;
  margin-bottom: 20px;

  color: $white;
  background: $liner_gradient_bg;

  @media (max-width: 415px){
    width: 120px;
    height: 45px;
    margin-top: 20px;
  }

  @media (max-width: 320px) {
    width: 120px;
    height: 35px;
  }
}

.modal__content_button:focus, .modal__content_button:active {
  background-color: $light_violet_button_focus_color;
  outline: none;
}