@import "../../../theme.module";

.wrapper{
    margin-top: 60px;
    padding-top: 100px;
    background: linear-gradient(94.46deg, $landing_gradient1 0%,  $landing_gradient2 107.33%);
    text-align: center;
    padding-bottom: 120px;

    @media (max-width: 992px) {
        padding-top: 70px;
        padding-bottom: 90px;
    }
    @media (max-width: 768px) {
        padding-top: 60px;
        margin-top: 40px;
        padding-bottom: 60px;
    }
}

.contentWrapper{
    width: 80%;
    margin: 0 auto;
}

.subtitle{
    text-align: center;
    margin: 0 auto 60px;
    font-family: $landing_font;
    font-style: normal;
    font-weight: 500;
    font-size: $landing_h3;
    color: $white;
    width: 70%;

    @media (max-width: 992px) {
        font-size: $landing_h3_tablet;
        width: 90%;
    }
    @media (max-width: 768px) {
        font-size: $landing_h3_small_tablet;
        width: 100%;
    }
    @media (max-width: 576px) {
        font-size: $landing_h3_mobile;
        width: 100%;
        line-height: 25px;
        margin: 0 auto 30px;
    }

}

.downloadBlock{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    @media (max-width: 576px) {
        display: block;
    }

}

.downloadAndroidBlock{
    width: 40%;

    @media (max-width: 768px) {
        width: 50%;
    }
    @media (max-width: 576px) {
        width: 100%;
        margin-top: 20px;
    }
}


.downloadQRBlock{
    width: 40%;
}

.android{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    width: 90%;
    margin: 0 auto;

    @media (max-width: 576px) {
        width: 180px;
    }
}

.android img{
    width: 150px;

    @media (max-width: 992px) {
        width: 120px;
    }
    @media (max-width: 768px) {
        width: 90px;
    }
    @media (max-width: 576px) {
        width: 50px;
    }
}

.text{
    font-family: $landing_font;
    font-style: normal;
    font-weight: normal;
    font-size: $landing_text;
    padding: 0;
    color: $white;
    margin: 30px 0 0;

    @media (max-width: 992px) {
        font-size: $landing_text_tablet;
    }
    @media (max-width: 768px) {
        font-size: $landing_text_small_tablet;
    }
    @media (max-width: 576px) {
        font-size: $landing_text_mobile;
        margin-top: 10px;
        margin-bottom: 0px;
    }
}

.dedicated{
    font-weight: 600;
}

.download{
    height: 120px;
    background: $landing_button_bg_color;
    color: $landing_h1_color;
    border-radius: 100px;
    border: none;
    outline: none;
    font-family: $landing_font;
    font-size: $landing_text;
    font-weight: 600;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;

    @media (max-width: 992px) {
        height: 95px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: $landing_text_tablet;
    }
    @media (max-width: 768px) {
        height: 70px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: $landing_text_small_tablet;
    }

    @media (max-width: 576px) {
        height: 50px;
        font-size: $landing_text_mobile;
    }
}

button:hover{
    cursor: pointer;
}

.qrCode{
    width: 50%;

    @media (max-width: 992px) {
        width: 65%;
    }
}

.logo{
    @media (max-width: 992px) {
        width: 130px;
        margin-top: 50px;
    }
    @media (max-width: 576px) {
        margin-top: 30px;
    }
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 140px;
    padding-bottom: 70px;

    @media (max-width: 992px) {
        margin-top: 100px;
        padding-bottom: 120px;
        display: block;
    }
    @media (max-width: 768px) {
        margin-top: 70px;
        padding-bottom: 50px;
        display: block;
    }
    @media (max-width: 576px) {
        margin-top: 40px;
    }
}

.link_block{
    width: 33%;
    @media (max-width: 992px) {
        width: 100%;
    }
}

.footer_logo{
    width: 50%;
    @media (max-width: 992px) {
        margin-top: 30px;
        width: 30%;
    }
    @media (max-width: 768px) {
        width: 40%;
    }
}

.socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;

    @media (max-width: 992px) {
        width: 40%;
        margin-bottom: 50px;
    }
    @media (max-width: 576px) {
        width: 130px;
        margin-bottom: 30px;
    }
}

.socials a{
    height: 40px;
    margin: 30px 0 0;
    width: 33%;
    text-align: center;

    @media (max-width: 768px) {
        height: 25px;
    }
    @media (max-width: 576px) {
        height: 27px;
        margin-top: 10px;
    }
}

.socials a img{
    height: inherit;
}

.copyright{
    font-family: $landing_font;
    font-style: italic;
    font-weight: 300;
    font-size: $landing_error;
    text-align: center;

    color: $white;

    @media (max-width: 992px) {
        font-size: $landing_error_tablet;
    }
    @media (max-width: 768px) {
        font-size: $landing_error_mobile;
    }
}

