@import '../../theme.module.scss';

.block {
  position: relative;
  width: 50%;
  height: 100vh;
  background: $title_color;
  overflow: hidden;
}

.figureOne {
  zoom: .7;
}

.figuresTextBox {
  position: fixed;
  left: 16%;
  top: 40%;
}

.figuresHeaderText {
  width: 198px;
  height: 85px;
  font-style: normal;
  font-weight: bold;
  font-size: $login-header-size;
  line-height: 85px;
  color: $white;
}

.figuresTextP {
  width: 274px;
  height: 58px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $login-p;
}

.figureTwo {
  position: fixed;
  width: 77px;
  height: 34px;
  left: 10%;
  top: 49%;
  background: $figureTwo;
  transform: rotate(-151.96deg);
}

.figureThree {
  position: fixed;
  width: 81px;
  height: 82px;
  left: -50px;
  top: 56%;
  background: $figureThree;
  transform: rotate(130deg);
}

.figureFour {
  width: 243.47px;
  height: 285.14px;
  left: 32%;
  top: 87%;
  position: fixed;
  background: $figureFour;
  transform: matrix(-0.91, -0.85, 0.21, -0.71, 0.24, 0);
}

.figureFive {
  position: fixed;
  width: 100px;
  height: 100px;
  left: 10%;
  top: 80%;
  background: $figuresFive;
  transform: rotate(-135deg);
  border-radius: 50%;
}

.figureSix {
  position: relative;
  width: 91px;
  height: 92px;
  left: 95%;
  top: 0;
  background: $figureSix;
  transform: rotate(-45deg);
}

.figuresBlocks {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 50%;
}












