@import "../../../../theme.module.scss";

.errorWrapper{
    height: 7px;
    margin: -5px 0 0;
    padding: 0;
}

.error{
    font-family: $main_font;
    font-style: normal;
    font-weight: 500;
    font-size: $error_text_size;
    color: $red;
    margin: 0;
    padding: 0;
    text-align: center;
}

.button{
    width: 100%;

    margin-top: 27px;
    padding: 17px;

    background: $liner_gradient_bg;
    border-radius: 20px;
    border: none;
    outline:none;

    color: $white;
    font-size: $button_text_size;
    font-family: $main_font;
}