//colors
$white: #FFFFFF;
$black: #000000;
$violet: #8E09E9;
$title_color: #5C3875;
$grey: #7E7E7E;

//fonts
$main_font: 'Roboto', sans-serif;

//fonts sizes
$h1: 24px;
$input_text_size: 14px;
$button_text_size: 14px;