//colors
$white: #FFFFFF;
$black: #000000;
$violet: #b259ef;
$orange: #F8B258;
$title_color: #5C3875;
$dark_violet_title: #2A0941;
$blur_bg_color: #100025;
$dark_violet: #14134C;
$grey: #7E7E7E;
$shadow_of_cards: rgba(214, 214, 214, 0.25);
$dark_grey: #414141;
$border_color: #C8C7C9;
$account_bg: #C4C4C4;
$light_grey: #1765d9;
$green: #33E27A;
$red: #EA5B7A;
$link_color: #b0c9f3;
$modal_window_bg_blur: rgba(16,0,37,0.55);
$underline_color: #D8D8D8;
$very_dark_gray: rgba(0, 0, 0, 0.25);
$modal_box_shadow_light_gray: rgba(221, 221, 221, 1);
$light_violet_button_focus_color: #686aef;
$light_gray_border: #9FB0B9;
$light_blue_gray_bg: #E7E8FE;
$input-search_box-shadow: #D6D6D6;
$liner_gradient_violet: #3E0963;
$liner_gradient_blue: #1A1F9E;
//fonts
$main_font: 'Roboto', sans-serif;
$landing_font: 'Montserrat', sans-serif;
$landing_additional_font: 'Basic', sans-serif;
$header_font: 'Inter', sans-serif;
$liner_gradient_bg: linear-gradient(94.46deg, $liner_gradient_violet 0%, $liner_gradient_blue 107.33%);
//fonts sizes
$title: 42px;
$h1: 24px;
$h2: 18px;
$h3: 16px;
$p: 14px;
$input_text_size: 14px;
$button_text_size: 14px;
$error_text_size: 13px;
$price_font_size: 20px;
$line_height_price: 35px;
$work_types_title_font_size: 20px;
$input_search_text: 45px;
$order_list_header_size: 55px;
$button_next_text_size: 28px;

$landing_h1: 65px;
$landing_h1_mobile: 22px;
$landing_h1_tablet: 48px;
$landing_h1_small_tablet: 34px;

$landing_h2: 48px;
$landing_h2_mobile: 20px;
$landing_h2_tablet: 36px;
$landing_h2_small_tablet: 24px;

$landing_h3: 36px;
$landing_h3_mobile: 16px;
$landing_h3_tablet: 24px;
$landing_h3_small_tablet: 22px;

$landing_text: 24px;
$landing_text_tablet: 18px;
$landing_text_small_tablet: 16px;
$landing_text_mobile: 12px;

$landing_error: 20px;
$landing_error_tablet: 16px;
$landing_error_mobile: 10px;

$landing_gradient1: #3E0963;
$landing_gradient2: #1A1F9E;
$landing_h1_color: #210136;
$landing_text_color: #454545;
$landing_title_color: #3E0A64;
$landing_blue_color: #1E1D99;
$landing_inactive_language: #838383;
$landing_button_bg_color: #FDA94D;
$landing_error_color: #FC1D1D;
