@import '../../../theme.module.scss';

.inputSearchBox{
  margin-top: 50px;
  margin-bottom: 40px;

  @media (max-width: 768px) {
    font-size: $input_search_text;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

.searchWrapper{
  border-radius: 30px;
  background-color: $input-search_background;
  width: 100%;
  height: 56px;
  box-shadow: 0 3px 5px $input-search_box-shadow;
  display: flex;
  align-items: center;
}

.inputSearch{
  height: 70%;
  border: none;
  background-color: $input-search_background;
  outline: none;
  font-size: $p;
  font-family: $header_font;
  border-radius: 30px;
  align-self: center;
}

.inputSearch::placeholder {
  background-image: $liner_gradient_bg;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2em;
  font-family: $header_font;
}

.searchIcon{
  align-self: center;
  width: 45px;
  height: auto;
  padding-left: 20px;
  cursor: pointer;
}
