@import '../../../theme.module.scss';

.searchWrapper{
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid $black;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.inputSearch{
  width: 100%;
  border: none;
  outline: none;
  font-size: $p;
  margin-bottom: 6px;
  font-family: $main_font;
}
.inputSearch::placeholder {
  color: $grey;
  font-size: 1.2em;
}

.searchIcon{
  width: 37px;
  height: auto;
  margin-bottom: 6px;
  margin-right: 6px;
  cursor: pointer;
}