@import "../../../theme.module";

.wrapper{
  padding-top: 100px;
  position: relative;
  width: 80%;
  margin: 0 auto;

  @media (max-width: 576px) {
    padding-top: 20px;
  }
  @media (max-width: 768px) {
    padding-top: 15px;
  }
  @media (max-width: 576px) {
    width: 90%;
    padding-top: 30px;
  }
}

.contentWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.part1{
  width: 60%;
}

.part2{
  width: 60%;
  position: absolute;
  left: 40%;
  top: 23%;

  @media (max-width: 400px){
    width: 50%;
    left: 50%;
  }

  @media (max-width:415px) and (min-width: 410px) {
    width: 40%;
    left: 50%;
  }

  @media (max-width:769px) and (min-width:740px) {
    width: 50%;
    left: 50%;
    top: 12%;
  }

  @media (max-width:1281px) and (min-width: 1023px){
    width: 60%;
    left: 52%;
    top: 31%;
  }
}

.title{
  text-align: center;
  margin: 0 auto;
  font-family: $landing_font;
  font-style: normal;
  font-weight: 500;
  font-size: $landing_h2;
  width: 100%;
  color: $landing_title_color;

  @media (max-width: 992px) {
    font-size: $landing_h2_tablet;
  }
  @media (max-width: 768px) {
    font-size: $landing_h2_small_tablet;
  }
  @media (max-width: 576px) {
    font-size: $landing_h2_mobile;
  }
}

.paragraphs{
  width: 90%;
  margin-top: -50px;
  margin-left: 30px;

  @media (max-width: 992px) {
    margin-top: 30px;
  }
  @media (max-width: 768px) {
    margin-top: 20px;
    margin-left: 0px;
    width: 100%;
  }
  @media (max-width: 576px) {
    font-size: $landing_h2_mobile;
  }
  @media (max-width: 576px) {
  }
}

.textBottom{
  @media (max-width: 768px) {
    font-size: $landing_text_small_tablet;
    line-height: 30px;
  }
  @media (max-width: 576px) {
    font-size: $landing_text_mobile;
    line-height: 20px;
  }
  font-family: $landing_font;
  font-style: normal;
  font-weight: normal;
  font-size: $landing_text_mobile;
  margin: 0;
  padding: 0;
  line-height: 20px;
  color: $landing_text_color;
  width: 70%;
}

.textBottomCustomer{
  position: absolute;
  transform: translateY(-100%);
  left: 35%;
  width: 65%  ;
}

.text{
  width: 100%;
  font-family: $landing_font;
  font-style: normal;
  font-weight: normal;
  font-size: $landing_text;
  margin: 0;
  padding: 0;
  line-height: 40px;
  color: $landing_text_color;

  @media (max-width: 992px) {
    line-height: 35px;
    font-size: $landing_text_tablet;
  }
  @media (max-width: 768px) {
    font-size: $landing_text_small_tablet;
    line-height: 30px;
  }
  @media (max-width: 576px) {
    font-size: $landing_text_mobile;
    line-height: 20px;
    width: 100%;
  }
}

.girl{
  width: 90%;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 75%;
  }
  @media (max-width: 576px) {
   width: 65%;
    margin-bottom: 30px;
  }
}